*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body, html{
  width:100%;
  height:100%;
}
canvas{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(90deg);
  border: 2px solid black;
}
.highJumpArea{
  background: #0d82b1;
  position: absolute;
}